---
interface Props {
  id: string;
  img_src: string;
  project_name: string;
  project_link: string;
  project_types: { type: string; className: string }[];
  roles: string[];
  contributions: string[];
  timeline: string;
  description: string;
  tools: string;
}

const {
  id,
  img_src,
  project_name,
  project_link,
  project_types,
  timeline,
  roles,
  contributions,
  description,
  tools,
} = Astro.props;
---

<button onclick={`openModal('${id}')`}>
  <div class="card">
    <div>
      <div class="proj-card-icon-div">
        {
          project_link && project_link.includes("github") && (
            <a target="_blank" href={project_link}>
              <img
                class="proj-card-git-icon"
                src="/public/assets/github-vector.svg"
                alt="Github Link"
              />
            </a>
          )
        }
        {
          project_link && !project_link.includes("github") && (
            <a target="_blank" href={project_link}>
              <img
                class="proj-card-redir-icon"
                src="/public/assets/open-link-icon.svg"
                alt="Project Link"
              />
            </a>
          )
        }
      </div>

      {
        img_src === "/assets/proj-discord-icon.png" && (
          <a class="discord-img">
            <img src={img_src} alt={project_name} class="discord-img" />
          </a>
        )
      }
      {
        img_src === "/assets/proj-machine-learning-icon.png" && (
          <a class="machine-learning-img">
            <img
              src={img_src}
              alt={project_name}
              class="machine-learning-img"
            />
          </a>
        )
      }
      {
        img_src !== "/assets/proj-discord-icon.png" &&
          img_src !== "/assets/proj-machine-learning-icon.png" && (
            <a>
              <img src={img_src} alt={project_name} class="proj-img" />
            </a>
          )
      }
    </div>

    <a>
      <header class="project-name">{project_name}</header>
    </a>

    <div class="project-type-div">
      {
        project_types.map((project_type) => {
          return <p class={project_type.className}>{project_type.type}</p>;
        })
      }
    </div>

    <div class="timeline">
      <p>{timeline}</p>
    </div>
  </div>
</button>

<div id={id} class="modal">
  <div class="modal-content">
    <!-- don't include any icons beside the project title for those without links -->
    {
      project_link == "" && (
        <header class="modal-header">
          <h1 class="modal-header">{project_name}</h1>
          <button class="modal-close" onclick={`closeModal('${id}')`}>
            &times;
          </button>
        </header>
      )
    }

    <!-- insert github icon linked to project to projects with git repository -->
    {
      project_link.includes("github") && (
        <header class="modal-header">
          <div class="modal-title-div">
            <h1 class="modal-header">{project_name}</h1>
            <a target="_blank" href={project_link}>
              <img
                class="modal-link-icon git-icon"
                src="/public/assets/github-vector.svg"
                alt="Github Link"
              />
            </a>
          </div>
          <button class="modal-close" onclick={`closeModal('${id}')`}>
            &times;
          </button>
        </header>
      )
    }

    <!-- insert redirect icon linked to project to projects with non-git links -->
    {
      project_link && !project_link.includes("github") && (
        <header class="modal-header">
          <div class="modal-title-div">
            <h1 class="modal-header">{project_name}</h1>
            <a target="_blank" href={project_link}>
              <img
                class="modal-link-icon redir-icon"
                src="/public/assets/open-link-icon.svg"
                alt="Project Link"
              />
            </a>
          </div>
          <button class="modal-close" onclick={`closeModal('${id}')`}>
            &times;
          </button>
        </header>
      )
    }

    <div class="modal-img-div">
      {
        img_src === "/assets/proj-discord-icon.png" && (
          <img src={img_src} alt={project_name} class="modal-proj-icon" />
        )
      }
      {
        img_src === "/assets/proj-machine-learning-icon.png" && (
          <img src={img_src} alt={project_name} class="modal-proj-icon" />
        )
      }
      {
        img_src !== "/assets/proj-discord-icon.png" &&
          img_src !== "/assets/proj-machine-learning-icon.png" && (
            <img class="modal-proj-img" src={img_src} alt={project_name} />
          )
      }
    </div>

    <div>
      <p class="description">{description}</p>
      <p class="tools"><b>Tools:</b> {tools}</p>
    </div>

    <div class="list-div">
      <p class="list-label"><b>Role:</b></p>
      <ul class="list">
        {
          roles.map((role) => {
            return <li class="list-item">{role}</li>;
          })
        }
      </ul>
    </div>

    <div class="list-div">
      <p class="list-label"><b>Contributions:</b></p>
      <ul class="list">
        {
          contributions.map((contribution) => {
            return <li class="list-item">{contribution}</li>;
          })
        }
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="../src/js/modal.js"></script>

<style>
  button {
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
  }

  button:hover {
    background-color: #f2f2f2;
  }
  button:active {
    background-color: #f2f2f2;
  }
  .modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    a {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 10px;
    }

    a:hover {
      background-color: #dcdcdc;
    }
    .redir-icon {
      width: auto;
      height: 25px;
    }

    .git-icon {
      width: auto;
      height: 30px;
    }
  }

  .modal-content {
    padding: 2% 5% ;
    display: block;
    margin: 2% auto;
    width: 70vw;
    height: 75vh;
    background-color: #ffffff;
    overflow: auto;
    border-radius: 20px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-display: row;
    gap: 20px;
  }

  /* .modal-content::-webkit-scrollbar{
    border-radius: 20px;
  } */

  .modal-close {
    color: #000000;
    padding: 15px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    font-weight: 800;
    font-size: 30px;
  }

  .modal-img-div {
    width: 70%;
    margin: 0 auto;
  }

  .modal-proj-icon {
    display: block;
    width: 40%;
    height: auto;
    margin: 5% auto;
  }

  .modal-proj-img {
    display: block;
    width: 80%;
    height: auto;
    margin: 5% auto;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 560px;
    border: 1px solid #979797;
    border-radius: 20px;
    padding: 30px 20px;
    gap: 20px;
    font-size: 13px;
    overflow: auto;
  }

  .proj-card-icon-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 35px;

    .proj-card-git-icon {
      width: auto;
      height: 25px;
    }
    .proj-card-redir-icon {
      width: auto;
      height: 20px;
    }
  }

  .proj-img {
    width: 100%;
    height: 264px;
    border-radius: 10px;
  }

  .discord-img {
    height: 200px;
    margin: 10px auto;
  }

  .machine-learning-img {
    height: 200px;
    margin: 10px auto;
  }

  .info-div {
    display: flex;
    flex-direction: column;
  }

  .info-div a:hover {
    color: #145ac3;
  }

  .project-name {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin: 15px 0;
  }

  .timeline {
    font-size: 20px;
    text-align: center;
  }

  .project-type-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
  }

  .web-dev {
    border: 1px solid #c42096;
    color: #c42096;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .web-dev:hover {
    background-color: #c42096;
    color: #ffffff;
  }

  .software-dev {
    border: 1px solid #145ac3;
    color: #145ac3;
    border-radius: 20px;
    padding: 5px 10px;
  }
  .software-dev:hover {
    background-color: #145ac3;
    color: #ffffff;
  }

  .machine-learning {
    border: 1px solid #da3e1b;
    color: #da3e1b;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .machine-learning:hover {
    background-color: #da3e1b;
    color: #ffffff;
  }

  .discord-bot {
    border: 1px solid #4727c6;
    color: #4727c6;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .discord-bot:hover {
    background-color: #4727c6;
    color: #ffffff;
  }

  .list-div {
    margin: 10px 0;
  }

  .list-item {
    margin-left: 30px;
  }

  .list-label {
    margin: 10px 0;
  }

  .description {
    /* font-size: 13px; */
  }

  .tools {
    margin: 10px 0;
  }

  @media screen and (max-width: 1200px) {
    .modal-header {
      font-weight: 800;
      font-size: 24px;
    }
  }

  @media screen and (max-width: 630px) {
    .card {
      width: 80vw;
      height: 65vh;
      gap: 20px;
      padding: 15px;
    }

    .project-type-div {
      font-size: 13px;
    }

    .timeline {
      font-size: 13px;
    }

    .modal-content {
      width: 85%;
      padding: 5%;
    }

    .modal-header {
      font-size: 20px;
    }

    .modal-proj-icon {
      display: block;
      width: 80vw;
      height: auto;
      margin: 5% auto;
    }

    .modal-proj-img {
      display: block;
      width: 100%;
      height: auto;
      margin: 5% auto;
    }
  }
</style>
