---
export interface Props {
  project_name: string,
  role: string,
  time_frame: string,
  description: string,
  img_src: string,
  href: string
}

const {project_name, role, time_frame, href, description, img_src} = Astro.props
---

<!-- contents -->
<div class="main-container">
  <h2><a class="project_name" target="_blank" href={href}>{project_name}</a></h2>

  <div class="details-container">
    <div class="text-detail">
      <p >
        <span class="role">{role}</span> -
        <span class="time">{time_frame}</span>
      </p>
      <p class="role-description"> should i add role description?</p>
      <p class="project-description">{description}</p>
    </div>

    <a class="image-link" target="_blank" href={href}>
      <img class="project-image" src={img_src}>
    </a>
  </div>
</div>

<!-- styling -->
<style>
  .main-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: justify;
    border-radius: 10px;
    /* height: 150px; */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .main-container:hover {
    height: auto;
    overflow: visible;
    background-color: #D3E1E1;
  }

  .project_name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #094848
  }
  .project_name:hover {
    font-weight: 800;
  }

  .details-container {
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
  }

  .text-detail {
    padding-top: 2%;
    margin-right: 10%;
    width: 65%;
  }

  .role {
    font-weight: 800;
    
  }

  .role-description {
    padding-left: 5%;
  }

  .project-description {
    padding-top: 2%;
  }

  a {

  }

  .image-link {
    width: 50%;
  }

  .image-link:hover {
    transform: scale(1.15);
  }

  .project-image {
    width: 100%;
  }

</style>
